* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

hr {
    width: 10%;
    padding: 5px 0px;
    background-color: #F15B22;
    border-radius: 5px;
    border: 0;
    margin: 0 auto;
}

.primary-btn {
    width: 160px;
    height: 50px;
    border-radius: 5px;
    border: 0;
    font-weight: bold;
    font-size: 16px;
}

.header-section {
    width: 100%;
    height: 100vh;
    background-image: url("../images/banner/banner1.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: end;
}

.banner {
    text-align: right;
    width: 32%;
    margin-right: 200px;
}

.banner h2 {
    font-size: 65px;
    font-weight: 700;
}

.banner p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin: 10px 0px 30px 0px;
    color: #444343;
}

.contact-btn {
    background-color: #F15B22;
    color: white;
}

/* failures-section styles */

.failures-section {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 100px;
    margin-top: 150px;
}

.failures-article h3 {
    font-size: 40px;
    font-weight: 700;
}

.failures-article p {
    margin: 20px 0;
    line-height: 26px;
    color: #444343;
}

.failures-list li {
    list-style: none;
    color: #444343;
    margin-bottom: 5px;
}

.failures-list li i {
    color: #16D887;
}

/* plans-section styles */
.plans-section {
    margin: 120px 0;
}

.plans-section h2 {
    text-align: center;
    margin-top: 150px;
    font-weight: 700;
    font-size: 40px;
}

.plans-items {
    display: flex;
    width: 75%;
    margin: 0 auto;
    gap: 100px;
    margin-top: 60px;
    text-align: center;
}

.item h4 {
    font-size: 30px;
    font-weight: 700;
    line-height: 45px;
}

.item h6 {
    color: #737272;
    font-size: 20px;
    font-weight: 500;
}

/* calls-section styles */

.calls-section {
    background-image: url("../images/watch.png"), url("../images/gradient3.png");
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    margin: 120px 0;
    width: 75%;
    margin: 0 auto;
    border-radius: 10px;
}

.call {
    padding: 40px 0px 40px 50px;
}

.call h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    color: white;
    margin-bottom: 10px;
}

.call-btn {
    color: #F15B22;
}

/* footer section styles */

footer {
    background-color: #151414;
    padding: 70px 120px;
    margin-top: 120px;
    color: wheat;
}

.footer-section {
    width: 90%;
    display: flex;
    margin: 0 auto;
    gap: 200px;
}

.future-footer h2 {
    font-size: 45px;
    font-weight: 700;
    color: white;
}

.future-footer p {
    line-height: 26px;
    color: #fff;
    width: 60%;
    margin: 20px 0;
}

.future-footer h5 {
    color: #fff;
    font-size: 16px;
    line-height: 26px;
}

.socials-icon {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.subscribe-footer {
    color: #fff;
    font-size: 25px;
    font-weight: 600;
}

.subscribe-footer input {
    width: 100%;
    padding: 15px 10px;
    border: 1px solid #fff;
    border-radius: 5px;
    margin: 15px 0;
    background: #151414;
    color: #fff;
}

.subscribe-btn {
    color: #F15B22;
    margin-top: 5px;
}


/* we-do-section styles*/
.we-do-section {
    margin-bottom: 120px;
}

.works-section {
    width: 75%;
    margin: 0 auto;
}

.works-section h2 {
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    margin: 5px 0 15px 0px;
}

.works-section>p {
    text-align: center;
}

.works-items {
    display: flex;
    gap: 50px;
    margin-top: 50px;
}

.works-items .items {
    width: 450px;
    height: 250px;
    background-color: #1B5A8D;
    text-align: center;
    padding: 40px 5px 0px 5px;
    border-radius: 10px;
    color: #fff;
}

.works-items .active,
.items:hover {
    background-color: #F15B22;
}

.works-items .items img {
    width: 47px;
    height: 69px;
}

.works-items .items p {
    font-size: 16px;
    margin: 5px 0;
}

.item-btn {
    background-color: transparent;
    padding: 15px 25px;
    border-radius: 5px;
    border: 1px solid #fff;
    margin-top: 10px;
    color: #fff;


}